.project-modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.project-modal-container {
  position: relative;
  border-radius: 10px;

  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-text {
  position: absolute;
  bottom: 12px;
  right: 12px;

  text-align: center;
  color: white;
}
