.about-container {
  max-width: 768px;
  margin: auto;
  padding: 6px;
  padding: 16px;
}
.about-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.about-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}
.text-bg {
  background-color: var(--about-back-color);
  padding: 16px;
  border-radius: 16px;
  color: var(--about-text-color);
}

