.project-gridItem {
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(179, 41, 41);
}
.project-gridItem:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}
.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.project-description {
  font-size: 1rem;
  white-space: pre-line;
}

.project-link {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding: 8px;
  justify-content: space-between;
  background-color: var(--link-back-color);
  color: white;
}
.project-description-container {
  overflow-y: scroll;
  max-height: 200px;
}
.project-modal-item {
  display: flex;
  flex-direction: row;
  background-color: #ffebeb;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  gap: 20px;
  height: 100%;
  width: 100%;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}
