.project-gridItem {
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(179, 41, 41);
}
.project-gridItem:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}
.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.project-description {
  font-size: 1rem;
  white-space: pre-line;
  line-height: 1.55;
}

.project-link {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  justify-content: space-between;
  background-color: var(--link-back-color);
  color: white;
  border-radius: 8px;
}
.project-description-container {
  overflow-y: auto;
  max-height: 200px;
  padding-right: 4px;
}
.project-modal-item {
  display: flex;
  flex-direction: row;
  background-color: #ffebeb;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  gap: 20px;
  height: 100%;
  width: 100%;
}

@media (max-width: 950px) {
  .project-modal-item {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.95rem;
  }

  .project-description-container {
    max-height: 150px;
  }

  .project-link {
    font-size: 0.9rem;
  }
}
